<template>
  <p class="homeText">
    {{ $t('hello' )}} WELCOME TO ACCOUNT-OWNER APPLICATION
  </p>
</template>

<script>
    export default {
        name: 'Home'
    }
</script>

<style scoped>
  .homeText{
    font-size: 35px;
    color: red;
    text-align: center;
    position: relative;
    top:30px;
    text-shadow: 2px 2px 2px gray;
  }
</style>

<i18n>
  {
    "en": {
      "hello": "Hello i18n !!!"
    },
    "cs": {
      "hello": "Ahoj i18n !!!"
    }
  }
</i18n>
