<template>
  <div class="locale-switcher">
    <b-nav-item-dropdown :dropup="dropup" :text="dropdownText" right>
      <b-dropdown-item
          class="locale-link"
          v-for="lang in languages"
          :key="lang"
          @click="setLocale(lang)"
          :class="{ 'is-current': lang === $i18n.locale }"
          href="#">
        {{ getLanguageName(lang) }}
      </b-dropdown-item>
    </b-nav-item-dropdown>
  </div>
</template>

<script>
    export default {
        name: 'LanguageSwitcher',
        props: {
            langs: Array,
            dropdownLabel: {
                type: String,
                default: ''
            },
            showFull: {
                type: Boolean,
                default: true
            },
            dropup: Boolean
        },
        created() {
            let lang = this.$cookies.get('lang') || this.getBrowserLanguage()
            if (!this.languages.includes(lang)) {
                lang = this.languages[0]
            }
            this.$i18n.locale = lang
        },
        data() {
            return {
                languages: this.langs ? this.langs : Object.keys(this.$i18n.messages)
            }
        },
        computed: {
            dropdownText() {
                return this.dropdownLabel ? this.dropdownLabel : this.$i18n.locale
            }
        },
        methods: {
            getBrowserLanguage() {
                let navLang = navigator.language
                let i = navLang.indexOf('-');
                if (i > 0) {
                    navLang = navLang.substr(0, i)
                }
                return navLang;
            },
            getLanguageName(lang) {
                let langName = this.$i18n.messages[lang] ? this.$i18n.messages[lang].language_name : null;
                return this.showFull && langName ? langName : lang;
            },
            setLocale(locale) {
                this.$i18n.locale = locale
                this.$cookies.set('lang', locale)
            }
        }
    }
</script>
