<template>
  <b-navbar type="dark" variant="dark" fixed="top" toggleable="md">
    <div class="container">
      <b-navbar-brand :to="{ name: 'Home' }">Account-Owner Home</b-navbar-brand>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'OwnerList' }">Owner Actions</b-nav-item>
        <b-nav-item href="/invalid-url">Owner Actions</b-nav-item>
        <b-nav-item :to="{ name: 'About' }">{{ $t('about') }}</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <language-switcher :show-full="true"/>
        <b-nav-item @click="logout">Logout</b-nav-item>
      </b-navbar-nav>
    </div>
  </b-navbar>
</template>

<script>
  import LanguageSwitcher from "./LanguageSwitcher";
  // import Vue from 'vue';

  export default {
    name: 'Navbar',
    components: {
      LanguageSwitcher
    },
    methods: {
      logout() {
        this.$axios.post("http://localhost:8080/logout")
        // Vue.axios.post("http://localhost:8080/logout")
      }
    }
  }
</script>

<!--
<i18n>
  {
    "en": {
      "langName": "English - local",
      "czech": "Czech",
      "english": "English",
      "lang": "Lang",
      "about": "About - local"
    },
    "cz": {
      "czech": "Česky",
      "english": "Anglicky",
      "lang": "Jazyk",
      "hello": "Hello from component"
    }
  }
</i18n>
-->