<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
</head>
<body>
<div id="app">
    <b-container>
        <b-row>
            <b-col>
                <b-navbar type="dark" variant="dark" fixed="top" toggleable="md">
                    <b-container>
                        <b-navbar-brand>{{$t('app_name')}}</b-navbar-brand>
                        <b-navbar-nav>
                        </b-navbar-nav>
                    </b-container>
                </b-navbar>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <br>
                <br>
                <br>
                <b-tabs>
                    <b-tab :title="$t('social_login')">
                        <br>
                        <b-form-group>
                            <b-button href="http://localhost:8080/login/facebook">{{ $t('login_with_facebook') }}</b-button>
                        </b-form-group>
                        <b-form-group>
                            <b-button href="http://localhost:8080/login/github">{{ $t('login_with_github') }}</b-button>
                        </b-form-group>
                    </b-tab>
                    <b-tab :title="$t('form_login')">
                        <br>
                        {{$t('form_login')}}
                    </b-tab>
                </b-tabs>
            </b-col>
        </b-row>
    </b-container>
</div>

<script>
    const messages = {
        en: {
            app_name: 'My Application',
            social_login: 'Social Login',
            form_login: 'Form Login',
            login_with_facebook: 'Login with Facebook!',
            login_with_github: 'Login with Github'
        }
    }

    const i18n = new VueI18n({
        locale: 'en',
        messages
    })

    new Vue({
        i18n
    }).$mount('#app')
</script>
</body>
</html>