<template>
  <b-container id="app">
    <b-row>
      <b-col>
        <navbar/>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <router-view/>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <cookie-law theme="dark-lime" :message="$t('cookie_law_message')" :buttonText="$t('cookie_law_button')">
        </cookie-law>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
    import Navbar from '@/components/Navbar'
    import CookieLaw from 'vue-cookie-law'

    export default {
    name: 'App',
    components: {
        Navbar,
        CookieLaw
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
