<template>
    <b-tabs>
        <b-tab :title="$t('social_login')">
            <br>
            <b-form-group>
                <b-button href="http://localhost:8080/login/facebook">{{ $t('login_with_facebook') }}</b-button>
            </b-form-group>
            <b-form-group>
                <b-button href="http://localhost:8080/login/github">{{ $t('login_with_github') }}</b-button>
            </b-form-group>
        </b-tab>
        <b-tab :title="$t('form_login')">
            <br>
            {{$t('form_login')}}
        </b-tab>
    </b-tabs>
</template>

<script>
    export default {
        name: "Login",
    }
</script>

<style scoped>

</style>

<!--&lt;!&ndash;-->
<i18n>
    {
        "en": {
            "social_login": "Social Login",
            "form_login": "Form Login",
            "login_with_facebook": "Login with Facebook",
            "login_with_github": "Login with Github"
        },
        "cs": {
            "social_login": "Soacial Login",
            "form_login": "Form Login",
            "login_with_facebook": "Přihlásit se přes Facebook",
            "login_with_github": "Přihlásit se přes Github"
        }
    }
</i18n>
<!--&ndash;&gt;-->
